
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
/* .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; } */

.column-1 {
    background-image: url("");
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.column-2 {
    background-image: url("");
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.column-3 {
    background-image: url("");
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:hover {
  color:white;
}
